<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.jaknz.maucache</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/MAUCacheAdmin</string>
		<string>--CachePath:/Users/Shared/MAUCache</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>LaunchOnlyOnce</key>
	<false/>
	<key>StartInterval</key>
	<integer>3600</integer>
	<key>LowPriorityIO</key>
	<true/>
</dict>
</plist>